body {
    padding-top: 20px;
    background-image:url('../images/background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    color:white;
}
/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr { margin: 30px 0 }
/* Main marketing message and sign up button */
.masthead h3 {
    color:black
}
.jumbotron {
    margin: 8% 0;
    text-align: center;
    /* background-image: url('../img/wiki2.jpg'); */
    background-position: center;
    width: 700px;
    height: 284px;
}
.jumbotron h1 {
    color:white;
    font-size: 72px;
    line-height: 1;
    text-shadow: black 2pt 2pt 4pt;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron .lead {
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* Supporting marketing content */
.marketing { margin: 60px 0 }
.marketing p + h4 { margin-top: 28px }
#about {
    text-align:left;
}

