<html lang="en">
    <head>
        <title>Analytics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container-narrow">

            <div class="masthead">
                <h3>Barlytics</h3>
            </div>


            <div class="jumbotron">
                <h1>Analyze your bar!</h1>
                <p class="lead">Cater your bar to your customer demographic</p>
                <br>
                <br>
                <form method="POST" method=post id="inputs" action="/results">
                    <select name="bar" form="inputs">
                        <option value="bar 1">bar 1</option>
                        <option value="bar 2">bar 2</option>
                        <option value="bar 3">bar 3</option>
                        <option value="bar 4">bar 4</option>
                    </select>
                    <select name="demographic" form="inputs">
                        <option value="age">age</option>
                        <option value="gender">gender</option>
                        <option value="occupation">occupation</option>
                    </select>
                    <select name="location" form="inputs">
                        <option value="San Francisco">San Francisco</option>
                        <option value="Chicago">Chicago</option>
                        <option value="New York">New York</option>
                    </select>

                    <br>
                    <input type="submit" value="Submit">
                </form>

                <br>
                <a class="btn btn-large btn-awesome" href="/analytics">Analyze your bar now!</a>
            </div>

            <br><br><br>
            <div class="row-fluid marketing">
                <p>Barlytics is a flask app that analyzes your bar's specific qualities and allows you to analyze the specifics about how your user interacts with your bar.</p>

            </div>
        </div>

