<html lang="en">
    <head>
        <title>Abalytics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container-narrow">

            <div class="masthead">
                <h3>Analytics</h3>
            </div>

            <hr>

            <div class="jumbotron">
                <h1>Streamline your business</h1>
                <p class="lead">Cater your bar to your customer demographic</p>
                <br>
                <form method="POST" role="form" action="/">
                    <div class="inp">
                        <input type="text" class="rounded" name="user" placeholder="Snapchat username"/>
                    </div>
                    <div class="inp">
                        <input type="password" class="rounded" name="pass" placeholder="Snapchat password"/>
                    </div>
                </form> 

            </form>
            <a class="btn btn-large btn-awesome" href="/analytics">Analyze your bar now!</a>
        </div>

        <hr>

        <div class="row-fluid marketing">
            <p>Barlytics is a flask app that analyzes your bar's specific qualities and allows you to analyze the specifics about how your user interacts with your bar.</p>

        </div>
    </div>

