<html lang="en">
    <head>
        <title>Analytics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container-narrow">

            <div class="masthead">
                <h3>Barlytics</h3>
            </div>


            <div class="jumbotron">
                <h1>Analyze your bar!</h1>
                <p class="lead">Cater your bar to your customer demographic</p>
                <br>
                <br>
                <form method="POST" method=post id="inputs" action="/results">
                    <br>
                    <select name="bar" form="inputs">
                        {% for item in barNames %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <select name="demographic" form="inputs">
                        <option value="Beer Rating">Beer</option>
                        <option value="Bar Rating">Bar Rating</option>
                        <option value="Customer Occupation">Customer Occupation</option>
                        <option value="Average Income">Average Income</option>
                        <option value="Average Age">Average Age</option>
                    </select>

                    <br>
                    Select a bar and a category to analyze your bar accordingly.
                    <br>
                    <input type="submit" value="Submit">
                    <br>
                </form>

                <br>
            </div>

            <br><br><br>
            <div class="row-fluid marketing">
                <p>Barlytics is a flask app that analyzes your bar's specific qualities and allows you to analyze the specifics about how your user interacts with your bar.</p>

            </div>
        </div>

