<html lang="en">
  <head>
    <title>Assimilator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="demo.html">Demo</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3>Barlytics</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Barlytics</h1>
        <p class="lead">Assimilator is a completely autonomous service which finds and embeds relevent articles into your site's design.</p>
        <a class="btn btn-large btn-awesome" href="demo.html">See the Demos!</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
          <p>Assimilator is a JavaScript add-on that brings up articles based on the current website the user is on. For example, a person on the Tesla website looking at the Model S would receive a notification from Assimilator. Assimilator would then bring up articles such as the technology of electric cars, superchargers for Tesla cars, or competitors to the Tesla Model S.</p>

        </div>
      </div>

